defaults:
  run:
    shell: "bash"
    
name: CI



on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  AWS_DEFAULT_REGION: "us-east-2"
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  commitizen:
    name: "Check commit message"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v2.3.4"
      - name: "Fetch ${{ github.base_ref }}"
        if: "github.event_name == 'pull_request'"
        run: |
          set -e
          git fetch --depth=1 origin +refs/heads/${{ github.base_ref }}:refs/heads/${{ github.base_ref }}
          git fetch --prune --unshallow

      - name: "Install Python"
        if: "!startsWith(github.ref, 'refs/tags/')"
        uses: "actions/setup-python@v2.2.1"
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: "Install commitizen"
        if: "!startsWith(github.ref, 'refs/tags/')"
        run: "pip install commitizen==${{ env.COMMITIZEN_VERSION }}"

      - name: "Check pull request commit messages"
        if: "github.event_name == 'pull_request'"
        run: |
          set -e
          for commit in $(git log --pretty=%H ${{ github.base_ref }}..HEAD); do
            echo "Checking commit: ${commit}"
            cz check -m "$(git log -1 --pretty=%B ${commit})"
          done

      - name: "Check last commit message"
        if: "github.event_name != 'pull_request' && !startsWith(github.ref, 'refs/tags/')"
        run: 'cz check -m "$(git log -1 --pretty=%B)"'
